@model Portal.Models.modelPackage
@using Portal.Models;

    <div style="font-size: 15pt; color: cornflowerblue;">
        Injecting: <span style="color: red; font-weight: bolder;"><br />@Model.progress2 / @Model.count</span>
    <br />
    Time started: <span style="color: red; font-weight: bolder;"><br />@Model.elapsed</span>
    <br />
    Time ended: <span style="color: red; font-weight: bolder;"><br />@Model.endtime</span>
</div>
