@model Portal.Models.modelPackage
@using Portal.Models;

<script src="~/assets/bootstrap/js/bootstrap.min.js"></script>
<link href="~/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/css/Animate.css" rel="stylesheet" />

<div class="col" style="margin-left: -1vw;">
    <p>Instruments connected: <span style="color: #007bff; font-weight: bolder;">@Model.connectedInstruments</span>/<span style="color: #007bff; font-weight: bolder;">@Model.totalInstruments</span></p>
</div>