@model Portal.Models.modelPackage
@using Portal.Models;

<link href="~/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

<body>

<div class="row">
    <div class="col text-center">
        <h6>Currently <span style="font-weight: bolder; color: #007bff; font-size: 15pt;">@Model.count</span> <span style="font-weight: bolder;">dataresults</span> in database</h6>
        <h6>Currently <span style="font-weight: bolder; color: #007bff; font-size: 15pt;">@Model.counttrack/@Model.count</span> <span style="font-weight: bolder;">trackers</span> in database</h6>
    </div>
</div>


</body>