@using Portal.Models;
@model Portal.Models.modelPackage;


<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>

<div class="row" style="margin-left: 1%; width: 10vw;">
    @{
        if (Model.tags != null)
        {
            foreach (modelTag tag in Model.tags)
            {
                <div class="col-xs" style="margin: 1%;">
                    <i class="fas fa-circle fa-xs" style="color: @tag.color" data-toggle="tooltip" data-placement="top" title="@tag.name"></i>
                </div>
            }
        }
    }

</div>

